<h1>Welcome To Your Grading Tracker</h1>
  <p>You can add students, standards and update mastery levels in a color-coded, efficient manner!</p>
<%= link_to 'Sign Up', new_teacher_path %>
<%= link_to 'Login', controller: 'welcome' %>